$horizontal-card-padding: 30px;
md-card {
    md-card-title {
        padding: 15px $horizontal-card-padding;
    }
    md-card-content {
        padding: $horizontal-card-padding;
        font-size: 18px;
        button {
            background-color: #800000;
            color: white;
            font-size: 18px;
            font-weight: normal;
            margin: 20px auto;
            padding: 5px 20px;
        }
    }
}