<h1 md-dialog-title>
  {{passwordKey ? 'Edit this Password' : 'Add new Password'}}
</h1>
<form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
  <md-dialog-content fxFlex fxLayout="Column" fxLayoutAlign="none stretch">
    <md-input-container>
      <input required mdInput placeholder="Service" type="text" name="service" [(ngModel)]="formPassword.service">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Username" type="text" name="username" [(ngModel)]="formPassword.username">
    </md-input-container>
    <md-input-container>
      <input required mdInput placeholder="Password" type="text" name="password" [(ngModel)]="formPassword.password">
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions fxLayoutAlign="space-between center">
    <button md-raised-button type="submit" [disabled]="!passwordForm.form.valid">Save</button>
    <button md-raised-button md-dialog-close>Cancel</button>
  </md-dialog-actions>
</form>