<md-toolbar color="primary">
  <span>
    {{title}}
  </span>
  <span fxFlex></span>
  <button md-icon-button [mdMenuTriggerFor]="signoutMenu" *ngIf="showSignOut">
    <i class="material-icons">more_vert</i>
  </button>
  <md-menu #signoutMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item (click)="signOut()"> Sign out</button>
  </md-menu>
</md-toolbar>
<div fxLayoutAlign="center center">
  <div class="container" fxFlex fxFlex.md="960px" fxFlex.gt-md="1100px">
    <router-outlet></router-outlet>
  </div>
</div>